{% extends 'base.html' %}
{% block content %}
   
<nav class="nav_destinations">
    <a href="/">HOME</a>
    <a href="/cities">CITIES</a>
    <a href="/countries">COUNTRIES</a>
    <a href="/cities/new_city">ADD NEW CITY</a>
    <a href="/countries/new_country">ADD NEW COUNTRY</a>
</nav>

<header>
    <h1>COUNTRIES LIST WITH THEIR CAPITALS:</h1>
</header>


    {% for country in all_countries %}

<div class="country_card">
    <div class="country_card_heading">
        <h1>{{country.name}}</h1>
        <h2>{{country.capital}}</h2>
    </div>
</div>   
    {% endfor %}
{% endblock %}