{% extends "base.html" %}
{% block content %}
<nav class="nav_destinations">
    <a href="/">HOME</a>
    <a href="/cities">CITIES</a>
    <a href="/countries">COUNTRIES</a>
    <a href="/cities/new_city">ADD NEW CITY</a>
</nav>

<header>
    <h1>NEW COUNTRY TO MY LIST</h1>
</header>


<div class="form_container">
<form action="/countries" method="post">
    <div>
        <label for="name">Country name:</label>
        <input type="text" id="name" name="name" placeholder="country name" required autofocus>
    </div>

    <div>
        <label for="capital">Capital city:</label>
        <input type="text" id="capital" name="capital" placeholder="capital city" required>
    </div>
    <input type="submit" value="add country">

</form>
</div>
{% endblock %}