{% extends "base.html" %}
{% block content %}

<nav class="nav_destinations">
    <a href="/">HOME</a>
    <a href="/cities">CITIES</a>
    <a href="/countries">COUNTRIES</a>
    <a href="/cities/new_city">ADD NEW CITY</a>
</nav>

<div class="form_container">
<form action="/cities/{{city.id}}/edit" method="post">

    <div>
        <label for="name">City name: </label>
        <input type="text" id="name" name="name" value="{{city.name}}" required>
    </div>

    <div>
        <label for="country">Country: </label>
        <select id="country" name="country_id">
            {% for country in all_countries %}
            <option value="{{ country.id }}" {% if city.country.id==country.id %} selected="selected" {% endif %}>
                {{ country.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    
    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
    
            <option value="true" {% if city.visited==True %} selected="selected" {% endif %}>
                YES
            </option>
    
            <option value="false" {% if city.visited==False %} selected="selected" {% endif %}>
                NO
            </option>
    
        </select>
    </div>

    <div>
        <label for="population">Population: </label>
        <input type="text" id="population" name="population" value="{{city.population}}" required autofocus>
    </div>

    <div>
        <label for="review">Review: </label>
        <input type="number" id="review" name="review" value="{{city.review}}" required>
    </div>

      <div>
        <label for="sights">Sights:</label>
        <input type="text" id="sights" name="sights" value="{{city.sigths}}" required>
    </div>
  
    <input type="submit" value="update">

</form>
</div>
{% endblock %}