:root {
  --navigation-color: #969490;
  --hover-color: #a2aeaf;
  --main-font-color: aliceblue;
  --heading-color: #73697e;
  --default-font-family: "Raleway", sans-serif;
}

body {
  background-image: url(../images/travel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1,
h2 {
  font-family: var(--default-font-family);
  color: var(--heading-color);
  font-weight: 400;
  text-align: center;
  line-height: 1;
  transition: all 1s ease-in-out;
}
.city_card h1,
h2 {
  color: var(--main-font-color);
}
.main_page {
  margin-top: 85px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}
.city_card {
  margin: 30px;
  text-align: center;
  padding: 10px;
  /* background: rgba(136, 111, 165, 0.4); */
  background: rgba(48, 38, 59, 0.6);
  border-radius: 5px;
  color: var(--main-font-color);

  /* border: 1px solid rgb(111, 97, 117); */
}

.city_content_card ul {
  list-style: none;
  text-align: left;

  /* color: var(--main-font-color); */
}
